# Problem 1: Unique Words in a Sentence

In [1]:
input_sentence = input("Enter a sentence:")

def unique_words(input_sentence):
    words = input_sentence.split()
    unique_words = set(words)

    print("Unique words count: ", len(unique_words))
    print("Unique words: ", unique_words)

unique_words(input_sentence)

Enter a sentence:hello who who are u
Unique words count:  4
Unique words:  {'hello', 'who', 'are', 'u'}

# Problem 2: Highest Salary from Employee Data

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

def highest_salary(employees):
    for key, value in employees.items():
        if value == max(employees.values()):
            print(f"{key} - {value}")

highest_salary(employees)

Ravi - 75000

# Problem 3: Find Maximum and Minimum Values

In [6]:
numbers = [45, 22, 89, 10, 66]

def min_max_values(lst):
    max_value = max(lst)
    min_value = min(lst)
    print("Maximum value:",max_value)
    print("Minimum value:",min_value)

min_max_values(numbers)

Maximum value: 89
Minimum value: 10

# Problem 4: Count Products Above a Price Threshold

In [10]:
prices = [450, 1200, 899, 1500, 300]

def price_threshold(lst):
    count = 0
    for price in lst:
        if price > 1000:
            count += 1
    print("Products above 1000:", count)

price_threshold(prices)

Products above 1000: 2

# Problem 5: Calculate Attendance Percentage

In [12]:
attendance = ["P", "P", "A", "P", "P"]

def attendence_percentage(lst):
    present = lst.count("P")
    total = len(lst)
    percentage = (present / total) * 100
    print("Attendance Percentage:", percentage)

attendence_percentage(attendance)

Attendance Percentage: 80.0

# Problem 6: Remove Duplicate Phone Numbers

In [14]:
phone_numbers = [9876543210, 9123456789, 9876543210]

def duplicate_phone_numbers(lst):
    unique_num = set(lst)
    print("Unique phone numbers:", unique_num)

duplicate_phone_numbers(phone_numbers)

Unique phone numbers: {9876543210, 9123456789}

# Problem 7: Count Character Frequency

In [15]:
input_string = input("Enter a string: ")

def count_character_freq(string):
    freq = {}
    for char in string:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
    return freq

count_character_freq(input_string)

Enter a string: pythonpm

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1, 'm': 1}

# Problem 8: Convert List to Tuple

In [18]:
lst = [10, 20, 30]

def list_to_tuple(lst):
    tup = tuple(lst)
    print("Tuple:", tup)

list_to_tuple(lst)

Tuple: (10, 20, 30)

# Problem 9: Check if a Key Exists in a Dictionary

In [25]:
dictionary = {"Name":"Atharav",
              "Department":"LLM",
              "Role":"CEO",
              "Salary": "$23000000"}

def key_exists(dictionary):
    key = input("Enter a key:")

    if key in dictionary:
        print(f"{key} exists")
    else:
        print(f"{key} does not exists")

key_exists(dictionary)

Enter a key:Name
Name exists

# Problem 10: Calculate Average Marks

In [27]:
marks = [45,49,47,41,48]

def avg_marks(lst):
    total = sum(lst)
    avg = total / len(lst)
    print("Average Marks:", avg)

avg_marks(marks)

Average Marks: 46.0